/**** CSS relatif aux animations ****/

/*Animation de rotation du logo a vitesse lente et infini*/
@keyframes rotate360 {
  to { transform: rotate(360deg); animation-direction: reverse;}
}
#logo-notext-slow { animation: 10s rotate360 infinite linear; animation-direction: reverse;}

/*Animation d'ombrage sur les cartes */
.card-shadowHover {
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
  	box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Animation des cartes */
.card-shadowHover:hover {
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}