{{> animations}}
{{> header}}

<div class="text-center jumbotron mx-auto" style="background: rgba(255,255, 255, 0.25);">
  <img class="mb-4" id="logo-notext-slow" src="/logo-notext-nobkg.png" alt="" width="100" height="100">
    <div>
      <h1 class="h3 mb-3 font-weight-normal">What is GO'Act?</h1>
      <hr>
      <h3 class="mb-3 font-weight-normal">Go'Act is a simple social network aiming toward the idea to share posts whenever you make a good action in different domains</h3>
      <p class="mb-3 font-weight-normal"><i>Born in the head of IKHLEF Eddy and YUN Eunsun, students in computer science at Aix-Marseille University, for a project with the theme <br><b>"make the world a better place".</b>
        <br>We thought that making the world better can also consist by simple actions in our everyday life to make the planet a better place. With simples actions from from helping a student to saving animals, the world became a bit better, so if everyone is taking part to theses action, the impact will be huge!<br>GO'Act! is a project about sharing our good actions and get inspired by others' ones. Thanks to a game like system with multiples leaderboards and a twitter like social network, we aim to make people wanting to participate more in the community, by commenting and support others while making good actions and get encouragement.</i></p>
        <a href="/" style="text-decoration: none; text-align: center;"><i>Join the GO'Act! community now!</i></a>
    </div>
    <br>
    <div>
      <h1 class="h3 mb-3 font-weight-normal">About datas and RGPD</h1>
      <hr>
      <h3 class="mb-3 font-weight-normal">GO'Act! is tracking and ads free</h3>
      <p class="mb-3 font-weight-normal"><i>GO'Act! follow the RPGD rules, futhermore we have no use of your datas, therefore user data stored in the website will not be shared or sold to anyone.<br>You can delete your account whenever you want, all your datas will be deleted.<br>With Go'Act! you are safe.</i></p>
      <a href="/" style="text-decoration: none; text-align: center;"><i>Join the GO'Act! community now!</i></a>
    </div>
    <br>
    <<div>
      <h1 class="h3 mb-3 font-weight-normal">About datas in the future</h1>
      <hr>
      <h3 class="mb-3 font-weight-normal">GO'Act! will always be tracking and ads free</h3>
      <p class="mb-3 font-weight-normal"><i>GO'Act! is a student project at this point. We don't plan to get a lot of users using this website therefore nothing will change with our principes.<br>But if we end to deploy it for a massive user usage, the server cost will be covered with our own funds and donations.</p>
      <a href="/" style="text-decoration: none; text-align: center;"><i>Join the GO'Act! community now!</i></a>
    </div>
</div>

{{> footer}}