{{> header}}

<div class="jumbotron pt-4">
		<h6 class="text-first">Message from the category {{category}}</h6>
		<hr>
		<div class="w-100">
			{{#messages}}
				<div class="card w-100 messages card-message">
  					<div class="card-header text-first">
  						<a href="/delete/message/{{id}}" class="text-second text-hover-second">{{#isFromUser}}[X] {{/isFromUser}}</a><a href="/user/{{userId}}" class="text-first text-hover-first"><u>{{userName}}</u></a> | {{date}}
  					</div>
  						<a href="/message/{{id}}"><div class="card-body">
    						<p class="card-text text-second">{{content}}</p><hr>
    						<p class="card-text text-third"><a href="/category/{{category}}" class="text-third text-hover-third"><i>category: {{category}} </i></a><a href="/addHeart/message/{{id}}" class="text-third text-hover-third">💕{{heart}}</a> <a href="/addBrokenHeart/message/{{id}}" class="text-third text-hover-third">💔{{brokenheart}}</a></p>
    					</div></a>
    			</div>
    			<br>
			{{/messages}}
	</div>
</div>

{{> footer}}