{{> header}}

<div class="jumbotron mx-auto m-0 p-0">
	<div class="d-sm-flex justify-content-start align-items-center user-info m-0 p-0">
		<div class="p-2">
			<img class="mb-3" src="/lvl/lvl0.png" alt="" width="100" height="100">
		</div>
		<div class="p-2">
			<h4>{{name}}</h4>
      		<p class="f-vsm">
      			level: {{lvl}}
      			<br>
      			<i>fan level: {{fanlvl}}</i>
      			<br>
      			💕 {{hg}}/{{hr}} 
      			💔 {{bhg}}/{{bhr}}
      		</p>
		</div>
		<div class="ml-auto p-2">
			<a href="logout" class="btn btn-primary btn-lg bkg-second bkg-hover-second">Logout</a>
		</div>
	</div>
</div>
<br>
<div class="jumbotron mx-auto">
	<div class="messagesBox-view">
	</div>
</div>
<br>
<div class="jumbotron mx-auto">
	<div class="messagesBox-send">
	</div>
</div>

{{> footer}}