{{> header}}

<div class="text-center jumbotron mx-auto">
	<img class="mb-4" id="logo-notext-slow" src="/logo-notext-nobkg.png" alt="" width="100" height="100">
  <h1 class="h3 mb-3 font-weight-normal">GO'Act!</h1>
  <p class="mb-3 font-weight-normal"><i>#1 Social Network on good action!</i></p>
	<div class="row mx-auto">
		<div class="col mx-auto">
			<div class="card card-shadowHover">
				<img src="/sign-in.jpg" class="card-img-top">
  				<div class="card-body">
    				<h5 class="card-title">GO'Actors, Welcome!</h5>
    				<p class="card-text">Connect with the GO'Act community to share your actions and get inspired by others actions!</p>
    				<a href="sign-in" class="btn btn-primary bkg-primary bkg-hover-primary">Sign in</a>
  				</div>
			</div>
		</div>
		<div class="col mx-auto">
			<div class="card card-shadowHover">
  				<img src="/sign-up.jpg" class="card-img-top">
  				<div class="card-body">
    				<h5 class="card-title">Newcomers, Welcome!</h5>
    				<p class="card-text">Want to take part in the GO'Act community ? Sign-up and start sharing your actions now!</p>
    				<a href="sign-up" class="btn btn-primary bkg-primary bkg-hover-primary">Sign up</a>
  				</div>
			</div>
		</div>
	</div>
  <br>
  <a href="about" class="text-center text-third text-hover-third"><i>You don't know GO'Act? Learn more!</i></a>
</div>

{{> footer}}