{{> header}}

<div class="text-center jumbotron mx-auto">
  <img class="mb-4" id="logo-notext-slow" src="/logo-notext-nobkg.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">GO'Act!</h1>
    <p class="mb-3 font-weight-normal"><i>#1 Social Network on good action!</i></p>
    <div style="width: 25%; margin: 0 auto;">
    <form class="form-signup" action="/sign-up" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Newcomers, Welcome!</h1>
      <p class="text-danger">{{error}}</p>
      <input type="text" name="name" class="form-control form-control-sm" placeholder="Name" value="{{name}}" required>
      <br>
      <input type="email" name="email" class="form-control form-control-sm" placeholder="Email address" value="{{email}}" required>
      <br>
      <input type="password" name="password" class="form-control form-control-sm" placeholder="Password" minlength="4" required>
      <br>
      <input type="password" name="passwordConfirm" class="form-control form-control-sm" placeholder="Confirm Password" minlength="4" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block bkg-primary bkg-hover-primary" type="submit">Sign up</button>
      <a href="/sign-in" class="text-center text-third text-hover-third"><i>Already have an account? Sign in</i></a>
    </form>
  </div>
</div>

{{> footer}}