{{> header}}

<div class="text-center jumbotron mx-auto" style="background: rgba(255,255, 255, 0.25);">
  <img class="mb-4" id="logo-notext-slow" src="/logo-notext-nobkg.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">GO'Act!</h1>
    <p class="mb-3 font-weight-normal"><i>#1 Social Network on good action!</i></p>
    <div style="width: 25%; margin: 0 auto;">
    <form class="form-signin" action="/sign-in" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">GO'Actors, Welcome!</h1>
      <input type="email" id="inputEmail" name="email" class="form-control form-control-sm" placeholder="Email address">
      <br>
      <input type="password" id="inputPassword" name="password" class="form-control form-control-sm" placeholder="Password">
      <br>
      <button class="btn btn-lg btn-primary btn-block bkg-primary bkg-hover-primary" type="submit">Sign in</button>
      <a href="/sign-up" class="text-center text-third text-hover-third"><i>Don't have an account? Sign up</i></a>
    </form>
  </div>
</div>

{{> footer}}